:root {
  /* COLORS */
  --clr-moderate-violet: 263 55% 52%;
  --clr-very-dark-grayish-blue: 217 19% 35%;
  --clr-very-dark-blackish-blue: 219 29% 14%;
  --clr-white: 0 0% 100%;
  --clr-light-gray: 0 0% 81%;
  --clr-light-grayish-blue: 210 46% 95%;

  /* FONT FAMILY */
  --ff-barlow-semi-condensed: "Barlow Semi Condensed", sans-serif;

  /* FONT WEIGHTS */
  --fw-medium: 500;
  --fw-semibold: 600;
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
}

p,
h1,
h2 {
  overflow-wrap: break-word;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

/* UTILITIES */

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* BODY */

body {
  font: var(--fw-medium) 0.8125rem/1.4 var(--ff-barlow-semi-condensed);
  background: hsl(var(--clr-light-grayish-blue));
  padding: 1.5rem;
}

/* TESTIMONIALS SECTION */

.testimonials {
  margin-block: 3rem;
}

.testimonials__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

/* CARD */

.testimonials__card {
  --_clr-card-bg: var(--clr-card-bg, var(--clr-white));
  --_clr-card-text: var(--clr-card-text, var(--clr-very-dark-grayish-blue));

  background: hsl(var(--_clr-card-bg));
  color: hsl(var(--_clr-card-text));
  padding: 1.5rem 2rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.testimonials__card-violet {
  --clr-card-bg: var(--clr-moderate-violet);
  --clr-card-text: var(--clr-light-grayish-blue);
}

.testimonials__card-gray {
  --clr-card-bg: var(--clr-very-dark-grayish-blue);
  --clr-card-text: var(--clr-light-grayish-blue);
}

.testimonials__user {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  overflow: hidden;
  border: 1px solid hsl(var(--clr-light-gray));
}

.testimonials__user-name {
  font-weight: var(--fw-semibold);
}

.testimonials__user-status {
  font-size: 0.6875rem;
  color: hsl(var(--_clr-card-text) / 50%);
}

.testimonials__title {
  font-size: 1.25rem;
  font-weight: var(--fw-semibold);
  line-height: 1.2;
  margin-block: 1rem;
  padding-right: 1px;
}

.testimonials__desc {
  color: hsl(var(--_clr-card-text) / 70%);
}

.testimonials__card-violet .testimonials__desc {
  padding-right: 0.9375rem;
}
